[submodule "test/console"]
	path = test/console
	url = https://github.com/redallen/console
[submodule "test/koku-ui"]
	path = test/koku-ui
	url = https://github.com/redallen/koku-ui
[submodule "test/tutorial-web-app"]
	path = test/tutorial-web-app
	url = https://github.com/redallen/tutorial-web-app
