.pf-c-console {
    display: grid;
    grid-template-areas:
      'actions-main actions-extra'
      'main main';
    row-gap: var(--pf-v5-global--spacer--md);
  }
  .pf-c-console__actions {
    grid-area: actions-main;
    display: flex;
  }
  .pf-c-console__actions > div {
    margin-right: var(--pf-v5-global--spacer--sm);
    box-shadow: var(--pf-v5-c-wizard__toggle--BoxShadow);
  }

  .pf-m-selectable {
    color: red;
  }

  .pf-u-screen-reader > .pf-l-stack__item{
    color: red;
  }

  .pf-v5-c-toolbar__item {
    color: green;
  }
